#Python binary path
PYTHON=python

#Spaces file paths
SPACES_DIR=/mnt/8tera/shareclic/lucaNgrams/5grams/ITA_5grams/matrices
#BIN_SPACES_DIR=$SPACES_DIR/bin_matrices/
BIN_SPACES_DIR=$(pwd)/bin_matrices_proxy
PKL_SPACES_DIR=$SPACES_DIR/pkl_matrices/
SPACES_ORDER=$(pwd)/ITA_5grams.order
GLOBAL_VEC=global_wnd4_cbow0.bin

#Behaviour configuration

# Use the global space
USE_GLOBAL=false
# Only export the coordinates to a csv file
EXPORT_ONLY=true
# Max number of neighbours to get for each queried space
NUM_NEIGHBOURS=5
#A word must occur in at least MIN_OCCURRENCES spaces to be taken into account
MIN_OCCURRENCES=3
